server {
	listen 80;
	server_name red.yosoyuno.dev;

	# Server root, replace it with your elgg installation location
	root /srv/ysu-web/www/red;
	index index.php index.html index.htm;

	gzip on;
	gzip_types
		# text/html is always compressed by HttpGzipModule
		text/css
		text/javascript
		text/xml
		text/plain
		text/x-component
		application/javascript
		application/x-javascript
		application/json
		application/xml
		application/rss+xml
		font/truetype
		font/opentype
		application/vnd.ms-fontobject
		image/svg+xml;

	# Server logs, replace it with your project names
	error_log /srv/ysu-web/log/red/nginx.error.log error;
	access_log /srv/ysu-web/log/red/nginx.access.log;

	# Max post size
	client_max_body_size 8M;

	location ~ (^\.|/\.) {
		return 403;
	}

	location = /rewrite.php {
		rewrite ^(.*)$ /install.php;
	}

	location / {
		try_files $uri $uri/ @elgg_ysu;
	}

	# pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
	location ~ \.php$ {
		try_files $uri @elgg_ysu;
		fastcgi_index index.php;
		fastcgi_pass unix:/srv/ysu-web/run/red.socket;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include /etc/nginx/fastcgi_params;
	}

	location @elgg_ysu {
		fastcgi_pass unix:/srv/ysu-web/run/red.socket;

		include /etc/nginx/fastcgi_params;
		fastcgi_param SCRIPT_FILENAME $document_root/index.php;
		fastcgi_param SCRIPT_NAME     /index.php;
		fastcgi_param QUERY_STRING    __elgg_uri=$uri&$args;
	}
}
